.root {
    -fx-background-color: #ffffff; /* Bright white background color */
    -fx-text-base-color: #444444; /* Dark gray text color */
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff; /* Dark gray text color */
}

.table-view {
    -fx-background-color: #a1a1a1;  /* Light gray background color */
    -fx-table-cell-border-color: transparent;
}
/** color everything under the column header */
.table-view .column-header * {
    -fx-background-color: #909090;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell {
    -fx-background-color: #a1a1a1; /* Bright white background color */
}

.table-view .table-cell {
    -fx-text-fill: #ffffff; /* Dark gray text color */
    -fx-alignment: CENTER;
    -fx-border-color: #a5a5a5;
}

.text-field {
    -fx-background-color: #f5f5f5; /* Light gray background color */
    -fx-text-fill: #444444; /* Dark gray text color */
    -fx-border-color: #61a1d1; /* Bright blue border color */
    -fx-border-radius: 5px; /* Rounded corners for border */
    -fx-font-size: 12pt;
}

.text-field:focused {
    -fx-border-color: #61a1d1; /* Bright blue border color */
}

/* Set the base style properties for the button */
.button {
    -fx-background-color: #61a1d1; /* Bright blue background color */
    -fx-background-radius: 5px; /* Rounded corners for background */
    -fx-border-radius: 5px; /* Rounded corners for border */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 12pt;
    -fx-padding: 8px 16px; /* Add padding around text */
    -fx-cursor: hand; /* Change cursor to hand when hovering over button */
    -fx-font-weight: bold; /* Bold font weight */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Add a drop shadow effect */
    -fx-transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Set the style properties for when the user hovers over the button */
.button:hover {
    -fx-background-color: #4285f4; /* Bright blue background color */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-fill: white; /* White text color */
}

/* Set the style properties for when the button is pressed */
.button:pressed {
    -fx-background-color: #3367d6; /* Darker blue background color */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Add a strong drop shadow effect */
}

.alert {
    -fx-background-color: #61a1d1; /* Bright blue background color */
    -fx-text-fill: white; /* White text color */
}

.alert .header-panel {
    -fx-background-color: #4285f4; /* Bright blue background color */
    -fx-text-fill: white; /* White text color */
}
