/* Set the base style properties for the button */
.button {
    -fx-background-color: #3a3a3a; /* Dark gray background color */
    -fx-background-radius: 5px; /* Rounded corners for background */
    -fx-border-radius: 5px; /* Rounded corners for border */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 12px; /* Font size for text */
    -fx-padding: 6px 12px; /* Add padding around text */
    -fx-cursor: hand; /* Change cursor to hand when hovering over button */
    -fx-font-weight: bold; /* Bold font weight */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Add a drop shadow effect */
    -fx-transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Set the style properties for when the user hovers over the button */
.button:hover {
    -fx-background-color: #2d2d2d; /* Darker gray background color */
    -fx-text-fill: #f1f1f1; /* Lighter text color */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}/* Add a more pronounced drop
/* Set the style properties for when the button is pressed */
.button:pressed {
    -fx-background-color: #262626; /* Even darker gray background color */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Add a strong drop shadow effect */
}
